<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.edu.ues.fia.gade">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UsuarioNormal.Actividad.ActividadEliminarActivity"></activity>
        <activity android:name=".UsuarioNormal.Actividad.ActividadActualizarActivity" />
        <activity android:name=".UsuarioNormal.Actividad.ActividadConsultarActivity" />
        <activity android:name=".UsuarioNormal.Actividad.ActividadInsertarActivity" />
        <activity android:name=".UsuarioNormal.Actividad.ActividadGestionarActivity" />
        <activity android:name=".UsuarioNormal.Pensum.PensumConsultarActivity" />
        <activity android:name=".UsuarioNormal.Pensum.PensumEliminarActivity" />
        <activity android:name=".UsuarioNormal.Pensum.PensumActualizarActivity" />
        <activity android:name=".UsuarioNormal.Pensum.PensumInsertarActivity" />
        <activity android:name=".UsuarioNormal.Pensum.PensumGesionarActivity" />
        <activity android:name=".UsuarioNormal.Prioridad.PrioridadGestionarActivity" />
        <activity android:name=".UsuarioNormal.Asignatura.AsignaturaGestionarActivity" />
        <activity android:name=".UsuarioNormal.Local.LocalGestionarActivity" />
        <activity android:name=".UsuarioNormal.TipoActividad.TipoActividadConsultarActivity" />
        <activity android:name=".UsuarioNormal.TipoActividad.TipoActividadActualizarActivity" />
        <activity android:name=".UsuarioNormal.TipoActividad.TipoActividadEliminarActivity" />
        <activity android:name=".UsuarioNormal.TipoActividad.TipoActividadInsertarActivity" />
        <activity android:name=".UsuarioNormal.TipoActividad.TipoActividadGestionarActivity" />
        <activity android:name=".UsuarioNormal.Prioridad.PrioridadConsultarActivity" />
        <activity android:name=".UsuarioNormal.TipoLocal.TipoLocalConsultarActivity" />
        <activity android:name=".UsuarioNormal.TipoAsignatura.TipoAsignaturaConsultarActivity" />
        <activity android:name=".UsuarioNormal.Asignatura.AsignaturaActualizarActivity" />
        <activity android:name=".UsuarioNormal.Asignatura.AsignaturaInsertarActivity" />
        <activity android:name=".UsuarioNormal.Asignatura.AsignaturaConsultarActivity" />
        <activity android:name=".UsuarioNormal.Local.LocalConsultarActivity" />
        <activity android:name=".UsuarioNormal.Local.LocalActualizarActivity" />
        <activity android:name=".UsuarioNormal.Local.LocalInsertarActivity" />
        <activity android:name=".UsuarioNormal.Escuela.EscuelaConsultarActivity" />
        <activity android:name=".UsuarioNormal.Escuela.EscuelaActualizarActivity" />
        <activity android:name=".UsuarioNormal.Escuela.EscuelaEliminarActivity" />
        <activity android:name=".UsuarioNormal.Escuela.EscuelaInsertarActivity" />
        <activity android:name=".UsuarioNormal.Escuela.EscuelaGestionarActivity" />
        <activity android:name=".UsuarioNormal.Horario.HorarioEliminarActivity" />
        <activity android:name=".UsuarioNormal.Horario.HorarioActualizarActivity" />
        <activity android:name=".UsuarioNormal.Horario.HorarioConsultarActivity" />
        <activity android:name=".UsuarioNormal.Horario.HorarioInsertarActivity" />
        <activity android:name=".UsuarioNormal.Horario.HorarioGestionarActivity" />
        <activity android:name=".UsuarioNormal.Docente.DocenteGestionarActivity" />
        <activity android:name=".UsuarioNormal.Docente.DocenteEliminarActivity" />
        <activity android:name=".UsuarioNormal.Docente.DocenteInsertarActivity" />
        <activity android:name=".UsuarioNormal.Docente.DocenteConsultarActivity" />
        <activity android:name=".UsuarioNormal.Docente.DocenteActualizarActivity" />
        <activity android:name=".UsuarioNormal.Docente.DocenteActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IndexActivity" />
        <activity android:name=".MainActivity$AdminActivity" />
        <activity android:name=".view.UsersActivity" />
        <activity android:name=".view.NewUserActivity" />
        <activity android:name=".UsuarioNormal.SolicitarLocalActivity" />
        <activity android:name=".UsuarioNormal.ModificarReservaActivity" />
        <activity android:name=".UsuarioNormal.ConsultarReservaActivity" />
        <activity android:name=".UsuarioNormal.EliminarReservaActivity" />
    </application>

</manifest>